<ion-header>

  <ion-navbar>
    <ion-title>Search for recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search the recipes list, e.g. &quot;potatoes&quot;"></ion-searchbar>
 
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.image" />
        </ion-avatar>
        <h2 class="capitalize">{{item.name}}</h2>
      </button>
    </ion-item-sliding>
  </ion-list> 
 
 
  <!-- <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list> -->
</ion-content>